* {
    margin: 0;
    padding: 0;
}

*::before, *, *::after {
    box-sizing: border-box;
}


body {
    background-color: #202b38;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 560px;
    min-height: 100vh;
    padding: 3em 1em 0 1em;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0.5em;
}

a {
    color: #41adff;
    text-decoration: none;
}

a[aria-current="page"] {
    font-weight: bold;
}

header {
    margin-bottom: 3em;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 0 1em;

    li:not(:last-of-type)::after {
        content: "/";
        margin-left: 1em;
    }
}

main {
    flex-grow: 1;
}

section {
    margin-bottom: 2em;

    ul {
        list-style-type: none;
        
        li {
            margin: 0.5em 0;
        }
    }
}

[title="leaf icons"] {
    font-size: 0.9em;
}
