<footer>
    <a href="https://www.flaticon.com/free-icons/leaf" target="_blank" rel="noopener noreferrer" title="leaf icons">Leaf icons created by Freepik - Flaticon</a>
    <div>
        <a href="https://www.github.com/alexketchum" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/alex-ketchum/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
        <a href="mailto:alex@alexketchum.dev"><i class="bi bi-envelope"></i></a>
    </div>
</footer>
