<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alex ketchum.</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="icon" href="/leaf.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/projects/">projects</a></li>
                <li><a href="/projects/douglas-gardens-pro/" aria-current="page">douglas gardens pto</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <section>
            <h3>Tite</h3>
            <br>
            <p>Description</p>
        
            <a href="">view site</a>
        </section>
    </main>
    <footer class="container">
        <a href="https://www.flaticon.com/free-icons/leaf" title="leaf icons">Leaf icons created by Freepik - Flaticon</a>
    </footer>
</body>
</html>
